@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Source+Code+Pro:ital,wght@0,300;0,500;0,700;0,900;1,500&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,900;1,400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --clr-dark: rgb(13, 17, 19);
  --clr-light: #fff;
  --clr-accent: rgb(222, 52, 0);
  --clr-accent-dark: rgb(163, 38, 0);
  --clr-secondary: rgb(0, 76, 199);
  --br: 0.5em;
  --transition: transform 200ms cubic-bezier(0.21, 1, 0.81, 1);
}

body {
  line-height: 1.5;
  justify-content: center;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
  background: var(--clr-dark);
  color: var(--clr-light);
  background: url(images/space.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

.navbar {
  position: fixed;
  display: center;
  justify-content: space-between;
  color: #fff;
  width: 100vw;
  align-items: center;
  padding: 1.5rem;
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
  z-index: 10000;
  top: -11vh;
  transition: 1s;
}
.navbar .primary-navigation {
  z-index: 1000;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  background: hsla(0deg, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}
.navbar .primary-navigation li {
  flex-direction: row;
  margin: 1rem;
}
.navbar .primary-navigation a {
  text-decoration: none;
  color: rgb(216, 216, 216);
}
.navbar .primary-navigation a::after {
  position: 0;
  content: "";
  border-bottom: 1px solid rgb(255, 255, 255);
  right: 0;
  display: block;
  width: 0;
  transition-property: width;
  transition: 250ms ease-out;
}
.navbar .primary-navigation a:hover::after {
  left: 0;
  right: auto;
  width: 100%;
}

.mobile-nav-toggle {
  display: none;
}

.flex {
  display: flex;
}

.sr-only {
  position: absolute;
  left: -10000px;
  height: 1px;
  width: 1px;
  top: auto;
  overflow: hidden;
}

.page-width {
  width: 80vw;
  margin-left: 10vw;
}

.welcome-container {
  position: absolute;
  /*height: 88vh;*/
  /*margin-top: 12vh;*/
  height: 100vh;
  width: 100vw;
  background: var(--clr-dark);
}
.welcome-container .welcome {
  position: relative;
  width: 600px;
  left: 30vw;
  top: 12vh;
}

.welcome-message {
  position: absolute;
  width: 600px;
  left: 30vw;
  top: 12vh;
  display: inline-block;
}
.welcome-message h1 {
  /*font-size: 20em;
  font-weight: 500;

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  /*margin: 0 auto;  Gives that scrolling effect as the typing happens */
  /* letter-spacing: ; Adjust as needed 

  animation: 
    typing 1s steps(10, end) 1s 1 normal both;*/
  font-size: 20em;
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  -webkit-animation: typing 2s steps(100, end), blink 0.75s step-end infinite;
          animation: typing 2s steps(100, end), blink 0.75s step-end infinite;
  white-space: nowrap;
  box-sizing: border-box;
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.welcome-message h2 {
  position: absolute;
  font-size: 8em;
  right: -5px;
  top: 90px;
  letter-spacing: 8px;
  overflow: hidden;
  white-space: nowrap;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border: 1px solid red;
}
.welcome-message h4 {
  position: absolute;
  font-size: 5em;
  right: 0;
  top: 240px;
}
.welcome-message h5 {
  position: absolute;
  font-size: 3em;
  letter-spacing: 10px;
  bottom: 40px;
  right: -5px;
}

.project-container {
  margin-top: 110vh;
  background: var(--clr-dark);
  height: 100vh;
  width: 80vw;
  padding: 2rem;
}
.project-container article {
  position: relative;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.project-container article h1 {
  text-align: center;
  font-size: 3em;
}
.project-container article p {
  text-indent: 1.5em;
  font-size: 1.5em;
}

.all-projects {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
  margin-bottom: 15vh;
  margin-left: 7.5vw;
}

.display {
  position: relative;
  cursor: pointer;
}

.btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  border: 0;
  background: var(--clr-secondary);
  border-radius: 100vw;
  color: var(--clr-light);
  font-weight: bold;
  padding: 0.5em 0.75em;
}

.icon::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.projects {
  display: flex;
  text-align: center;
}
.projects img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.rank {
  position: absolute;
  top: 0;
  right: 1em;
  z-index: 1000;
  font-weight: bold;
  font-size: 1.125rem;
  background: rgba(0, 0, 0, 0.65);
  padding: 0.5em 0.5em 0.75em;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
          clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
  transition: var(--transition);
}

.front {
  transition: 250ms;
}
.front .thumbnail {
  border-radius: var(--br);
  height: 250px;
}
.front .name {
  margin: 0.75em 0;
}
.front .stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.front .viewers {
  display: flex;
  align-items: center;
}
.front .viewers::before {
  content: "\f007";
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.75em;
  margin-right: 0.5em;
}
.front .inprogress {
  color: rgb(250, 69, 69);
  font-size: 0.75em;
}
.front .projects img {
  border: 2px solid var(--clr-dark);
}
.front .projects img:nth-of-type(1) {
  transform: translateX(50%);
  z-index: 1;
}
.front .projects img:nth-of-type(2) {
  border: 2px solid var(--clr-dark);
  transform: translateX(25%);
}

.back {
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  transform: translateY(35%);
  z-index: 10000000;
}
.back .project-info {
  -moz-columns: 1;
       columns: 1;
  -moz-column-rule: 1px solid rgba(255, 255, 255, 0.25);
       column-rule: 1px solid rgba(255, 255, 255, 0.25);
}
.back .project-description {
  font-size: 0.75rem;
  text-align: center;
}

.background {
  background: rgb(40, 46, 54);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scale(0.2, 0.9);
  opacity: 0;
  border-radius: var(--br);
  overflow: hidden;
}
.background img {
  opacity: 0.3;
  -webkit-clip-path: url(#wave);
          clip-path: url(#wave);
  height: 30%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.display:hover {
  box-shadow: none;
  z-index: 1;
}
.display:hover .rank {
  transform: translate(150%, -61%);
}
.display:hover .front {
  transform: translateY(-30%) scale(0.8);
}
.display:hover .front .name {
  -webkit-animation: displayName 250ms forwards;
          animation: displayName 250ms forwards;
}
.display:hover .front .stats {
  opacity: 0;
}
.display:hover .back {
  opacity: 1;
  transition: transform 250ms ease, opacity 150ms linear;
  transform: translateY(0);
}
.display:hover .back .projects {
  width: 100%;
  justify-content: space-between;
}
.display:hover .back .project {
  font-size: 0.9rem;
}
.display:hover .back .name {
  font-weight: bold;
}
.display:hover .background {
  transition: var(--transition), opacity 100ms linear;
  opacity: 1;
  transform: scale(1.35, 1.3) translateY(5%);
}

@-webkit-keyframes displayName {
  0% {
    text-align: left;
    opacity: 1;
  }
  20% {
    text-align: left;
    opacity: 0;
  }
  50% {
    text-align: center;
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    text-align: center;
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes displayName {
  0% {
    text-align: left;
    opacity: 1;
  }
  20% {
    text-align: left;
    opacity: 0;
  }
  50% {
    text-align: center;
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    text-align: center;
    opacity: 1;
    transform: scale(1.2);
  }
}
.project .icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  position: relative;
  transition: transform ease-in-out 150ms;
}
.project .icon::before, .project .icon::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
}

.tech-stack {
  margin-top: 0rem;
  margin-bottom: 2em;
}
.tech-stack ul {
  position: relative;
  display: flex;
  list-style: none;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.tech-stack ul .text-title::after {
  position: absolute;
  content: "";
  left: 7.5em;
  top: 0.75em;
  height: 3em;
  border-right: 1px solid white;
}
.tech-stack ul li {
  padding: 0 3rem 0 0;
}
.tech-stack ul li div {
  position: relative;
  display: center;
}
.tech-stack ul li div img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.tech-stack ul li img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.white {
  background-color: #fff;
}

.about-container {
  background: var(--clr-dark);
  padding: 2rem;
  position: relative;
  height: 90vh;
  width: 80vw;
  margin-top: 10vh;
}
.about-container article {
  position: relative;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about-container article h1 {
  text-align: center;
  font-size: 3em;
}
.about-container article p {
  text-indent: 1.5em;
  font-size: 1.5em;
}

.contact-container {
  background: var(--clr-dark);
  padding: 2rem;
  margin-top: 10vh;
  position: relative;
  height: 90vh;
  width: 80vw;
}
.contact-container article {
  position: relative;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2em;
}
.contact-container article h1 {
  text-align: center;
  font-size: 3em;
}
.contact-container article p {
  text-indent: 1.5em;
  font-size: 1.5em;
}
.contact-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.contact-container .invert {
  filter: invert(1);
}
.contact-container .contact-info {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.contact-container .contact-info .social-list {
  position: relative;
  display: flex;
  align-items: center;
}
.contact-container .contact-info .social-list .underline {
  font-size: 1.25em;
}
.contact-container .contact-info .social-list .underline::after {
  position: absolute;
  display: block;
  content: "";
  width: 3em;
  border-bottom: 1px solid white;
}
.contact-container .contact-info .social-list ul {
  align-items: center;
}
.contact-container .contact-info .social-list ul li {
  list-style: none;
  padding: 1em;
}
.contact-container .contactForm {
  position: relative;
  width: 50%;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
}
.contact-container .contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contact-container .contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contact-container .contactForm .inputBox input,
.contact-container .contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contact-container .contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contact-container .contactForm .inputBox input:focus ~ span,
.contact-container .contactForm .inputBox input:valid ~ span,
.contact-container .contactForm .inputBox textarea:focus ~ span,
.contact-container .contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contact-container .contactForm .inputBox input[type=submit] {
  width: 100px;
  background: var(--clr-dark);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
}

.projects .white {
  background-color: #fff;
}

.resume-container {
  display: none;
  background: var(--clr-dark);
  padding: 2rem;
  margin-top: 2rem;
  height: 89vh;
  width: 80vw;
}
.resume-container h1 {
  text-align: center;
}
.resume-container .resume-btn {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2em;
}
.resume-container .resume-btn button {
  height: 3em;
  width: 10em;
}

@media (max-width: 35em) {
  body {
    position: center;
  }

  .welcome-container {
    justify-content: center;
    width: 100%;
  }
  .welcome-container .welcome {
    text-align: center;
    height: auto;
    left: 15vw;
  }

  .project-container {
    width: 25em;
    height: auto;
  }
  .project-container .all-projects {
    position: relative;
    display: block;
    height: auto;
    margin-left: 0;
  }
  .project-container .display {
    position: relative;
    display: block;
    margin-bottom: 2.5em;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .primary-navigation {
    --gap: 2rem;
    z-index: 10000;
    position: absolute;
    inset: 0 0 0 80%;
    margin-bottom: -100px;
    height: 100vh;
    padding: min(30vh, 10rem) 2em;
    flex-direction: column;
    background: hsla(0deg, 0%, 100%, 0.1);
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  .primary-navigation ul {
    -webkit-backdrop-filter: blur(1.5rem);
            backdrop-filter: blur(1.5rem);
  }
  .primary-navigation li {
    display: block;
  }

  .primary-navigation[data-visible=true] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background: url("images/menu.png");
    filter: invert(1);
    width: 2rem;
    background-repeat: no-repeat;
    border: none;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
  }

  .mobile-nav-toggle[aria-expanded=true] {
    background: url("images/cancel.png");
    filter: invert(1);
    background-repeat: no-repeat;
  }

  .tech-stack ul {
    display: block;
    left: 50%;
    transform: translateX(-50%);
  }
  .tech-stack ul .text-title::after {
    border-right: none;
    display: inline;
    width: 3em;
    border-bottom: 1px solid white;
    left: 2.75em;
    top: 1.75em;
  }
  .tech-stack ul li {
    margin-bottom: 1em;
  }
  .tech-stack ul img {
    position: relative;
    margin-left: -15%;
  }
}/*# sourceMappingURL=style.css.map */